{% extends 'task/base.html' %}

{% block content %} 
    <form method="POST" action="/">
        {% csrf_token %}
        {{ form.title }}
        {{ form.description }}
    <input class="btn btn-info" type="submit" name="Add Task">
    </form>
    {% for task in tasks %}
        <div class="item-row">
            {% if task.completed == True %}
            <strike>{{ task.title }}</strike>
            {% else %}
            <span>{{ task.title }}</span>
            {% endif %}<br>
            <a class="btn btn-sm btn-info" href="{% url 'update' task.id %}">Update</a>

            <a class="btn btn-sm btn-danger"href="{% url 'delete' task.id %}"> Delete</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
